body {
    margin: 0;
    font-family: Calibri;
}

button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    transition: background-color 0.2s;

}
button:hover {background-color: rgb(228, 228, 228);}
button:active {background-color: transparent;}

.main-background {
    position: relative;
    height: 240vh;
    background-image: url(../imagens/background_imagens/MAOCOLORIDA-6.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    
}
@media (max-height: 745px) {
    .main-background {
        height: 280vh;
    }
}
@media (max-height: 677px) {
    .main-background {
        height: 340vh;
    }
}
.middle-content {
    display: flex;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-introduction {
    background: rgba(255, 255, 255, 0.137);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    width: 45%;
    height: 35%;
    border-radius: 8px;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(110, 110, 110);
    padding: 20px;
    transition: 0.5s;
}
.div-introduction:hover {backdrop-filter: blur(10px);}

.p-introduction span {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.p-introduction {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 20px;
    font-family: Calibri;
    padding: 0 20px;
    margin: auto;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.div-historia {
    background: rgba(255, 255, 255, 0.137);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    width: 60%;
    margin-top: 40px;
    border-radius: 8px;
    align-items: center;
    flex-direction: row;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(110, 110, 110);
    padding: 20px;
    transition: 0.5s;
}
.div-historia:hover {backdrop-filter: blur(10px);}

.img-historia {
    border-radius: 4px;
    width: 40%;
}

.p-historia span {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.p-historia {
    color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: Calibri;
    padding: 0 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.div-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.div-card {
    background: rgba(255, 255, 255, 0.137);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(110, 110, 110);
    margin: 0 30px 0 30px;
    transition: 0.5s;
}
.div-card:hover {backdrop-filter: blur(10px);}

.card-title {
    color: #ffffff;
    font-size: 30px;
    font-family: Calibri;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-image {
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0 0 0;
}

.card-text {
    color: #ffffff;
    width: 70%;
    font-size: 20px;
    font-family: Calibri;
    text-align: center;
    margin: auto;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}