body {
    margin: 0;
    font-family: Calibri;
}
button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    transition: background-color 0.2s;

}
button:hover {background-color: rgb(228, 228, 228);}
button:active {background-color: transparent;}

.main-background {
    height: 300vh;
    position: relative;
    background-image: url(../imagens/background_imagens/MAOCOLORIDA-32.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

@media (max-height: 745px) {
    .main-background {
        height: 360vh;
    }
}
@media (max-height: 677px) {
    .main-background {
        height: 420vh;
    }
}

h1, h2, h3, p, li {
    color: #fff;
}

.main-qualidade{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-qualidade ul li, .main-qualidade h3, .main-qualidade p{
    font-size: 20px;
    padding: 10px;
}

.qualit{
    font-size: 70px;
    font-family: Arial;
    margin: 0;
    padding-top: 170px;
    padding-bottom: 50px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.qualidade, .melhoria, .gestao{
    margin: 50px;
    background: rgba(255, 255, 255, 0.137);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.qualidade .title-compromisso, .title-melhoria, .title-gestao{
    font-size: 40px;
    padding-left: 20px;
    margin: 0;
    text-align: center;
}

.txt-compromisso, .txtmelhoria, .txt-gestao{
    font-size: 30px;
}

.img-download{
    margin-left: 10px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.img-qr{
    width: 170px;
    height: 170px;

}

.av{
    text-align: center;
}